.modal-title{
    color: var(--primary-text);
}

h3{
    color: var(--primary-text);
}

h2{
    color: var(--primary-text);
}

span{
    color: var(--primary-text-dark);
}

.btn-close{
    color: var(--primary-text-dark) !important;
}