.hero {
    height: 100vh;
    width: 100%;
    /* background-color: rgba(71, 70, 70, 0.5); */
    background: linear-gradient(to bottom, rgba(71, 70, 70, 0.5)70%, var(--secondary-overlay)100%);
}

.hero-bg{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-bg img{
    height: 100%;
    width: 100vw;
    object-fit: cover;   
}


/* 
.hero .slider {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .slider img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
} */

.display-3 {
    color: var(--primary-color);
    font-size: 3rem !important;
}

.sub-title {
    color: var(--secondary-color);
    font-size: 1.6rem !important;
}

.hero .content {
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-top: 23rem;
}

@media screen and (max-width: 940px) {
    .display-3 {
        font-size: 2rem !important;
    }
    
    .hero {
        height: 100vh;
        width: 100%;
    }

    .sub-title {
        font-size: 1.3rem !important;
    }
}
