.instructor {
    height: 100vh;
    width: 100vw;
    padding: 5.5rem 2rem 1rem !important;
    margin-bottom: 5rem !important;
}

.card-title, .card-text{
    color: var(--primary-text);
}

.instructor h2 {
    font-size: 3rem;
    color: var(--primary-text);
}

