nav{
    height: 10%;
}
nav .toggle-icon{
    color: var(--primary-color) !important
}

.bg-custom{
    background-color: var(--primary-overlay);
    /* background-color: #ff00ffe3; */
}

.nav-link {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    font-weight:900;
    height: 100%;
}

.navbar-toggler {
    border: none;
    font-size: 1.9rem;
    box-shadow: none !important;
}

.nav-link:hover {
    border-bottom: 3px solid var(--primary-text-dark);
}

.navbar-brand img {
    width: 250px;
    height: auto;
}

.brand {
    width: 500px;
    height: 80%;
    color: var(--primary-color);
    font-weight:bold;
    font-size:x-large;
}

@media screen and (max-width: 940px) {
    .navbar-brand img {
        width: 150px;
    }

    .navbar-nav {
        background-color: var(--secondary-overlay);
        height: 100vh;
        position: fixed;
        top: 9.5%;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        z-index: 90;
        overflow: hidden;
    }

    .navbar-nav .nav-item {
        margin: 15px 0;
    }

    .navbar-collapse .show {
        display: flex;
    }
}
