.contact-container {
    background-color: #f8f9fa;
    padding: 7rem 1rem 2rem 1rem !important;
  }
  
  .contact-container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--primary-color);
    text-align: center;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .contact-icon {
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  
  .contact-container iframe {
    border: none;
  }

  .contact{
    color: #000 !important;
  }
  