.instructor {
    background-color: #f8f8f8;
    padding: 5rem 1rem 0 1rem;
    width: 100%;
    height: auto;
}

.inst-img {
    width: 60%;
    height: 50vh;
    border-radius: 5px;
}

.instructor h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.head {
    margin: 2rem 0;
}

.subhead {
    font-size: 1rem;
    font-weight: 600;
}

.inst-btn{
    width: 60%;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
}

.inst-btn:hover {
    background: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
    color: #fff;
  }

@media screen and (max-width: 940px) {
    .col-2 {
        padding: 1rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1rem;
    }
}
