.courses {
    padding: 4rem 2rem 1rem !important;
    width: 100%;
}

.courses h2 {
    font-size: 3rem;
    color: var(--primary-text);
}

.course-card {
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
    background-color: var(--secondary-color);
}

.course-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon{
    color: var(--primary-text);
}

.course-card .card-title {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--primary-text-dark);
}

.course-card .card-text {
    font-size: 1rem;
}

.schedule {
    text-align: center;
    margin-top: 4rem;
}

.schedule h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.schedule ul {
    list-style: none;
    padding: 0;
}

.schedule ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .courses{
        margin-top: 5rem;
        padding-top: 5rem !important;
    }

    .courses .row {
        flex-direction: column;
    }

    .course-card {
        margin-bottom: 2rem;
    }

    .schedule ul li {
        font-size: 1rem;
    }
}
