.testimonial {
    padding: 5rem 2rem 1rem !important;
    height: 80vh;
    width: 100%;
    margin-top: 5rem !important;
    margin-bottom: 3rem;
    background: linear-gradient(to bottom, #ff00ff4b, #bf2ec493);
}

h2 {
    font-size: 3rem;
    color: var(--primary-text);
}

.author-name{
    color: var(--primary-text);
}