:root {
  --primary-color: #ffffff;
  --secondary-color: #ffffffab;
  --secondary-text: #d019e0;
  --secondary-text-dark:#83188d;
  --primary-text: #cc12c3;
  --primary-text-dark: #90079c;
  --primary-button: #c84cd3;
  --primary-button-dark: #c226c2;
  --primary-overlay: rgba(211, 164, 211, 0.973);
  --secondary-overlay: rgba(227, 169, 233, 0.979);
}

body{
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  color: var(--primary-color) !important;
  text-transform: uppercase;
  background-color: var(--primary-button-dark) !important;
  border: 1px solid var(--primary-button-dark) !important;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-button) !important;
  border: 1px solid var(--primary-button) !important;
  color: var(--primary-color) !important;
}

.line {
  display: block;
  width: 4rem;
  height: 3px;
  margin: 3px auto 1rem;
  background-color: var(--secondary-text);
}